<div class="page-header">
    <h1>All Deductions</h1>
</div>
<ul class="nav nav-tabs nav-stacked">
<% @deductions.each do |deductions| %>
  <li>
    <%= link_to(deductions) do %>
      <%= deductions.name %> :- <%= deductions.amount %>
    <% end %>
  </li>
<% end %>
</ul>

<%= will_paginate @posts %>
