<div class="page-header">
	<h1>Your Budgets</h1>
</div>

<ul class="nav nav-tabs nav-stacked">
<% @budgets.each do |budget| %>
  <li>
    <%= link_to budget, :class => "clearfix" do %>
      <span class="pull-left">
        <strong><%= budget.name %></strong> <br />
        $<%= budget.amount %>
      </span>
    <% end %>
  </li>
<% end %>
</ul>