<div class="row">
  <div class="span4">
  	<h3>Watch where your money goes</h3>
  	<p>Monitor where you are spending your money, whether it be lose change or through your banking card. Just enter in the deduction whilst matching it to a budget and your set.</p>
  </div>
  <div class="span4">
  	<h3>Saving for something big</h3>
  	<p>Keep track of what your are saving for. When you know you have enough, go buy it!</p>
  </div>
  <div class="span4">
  	<h3>Graphs are cool again <small>Coming soon</small></h3>
  	<p>We plan on bringing you the sexiest graphs detailing where your deductions and additions are going based on what you are telling us.</p>
  </div>
</div>